:root{
    --bgColor: rgba(2, 1, 0, 0.9);
    --borderColor:#d81290;
    --titleColor:#C89B3C;
    --titleStroke:#785A28;
    --inputBgColor: #f0f0f0;
    --inputBorderColor: #ccc;
    --inputTextColor: #333;
    --inputFocusBorderColor: #d81290;
    
}
html {
     font-size: 62.5%;
} 
@font-face {
    font-family: arcane;
    src: url(../fonts/Arcane\ Nine.otf) ;
}


body{
    background-image: url(../images/vi.jpg);
    background-size: cover; /* Ensure the background image covers the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    display:flex;
    justify-content: flex-end;
    height:100vh;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

main{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:clamp(500px,45%,50%);
    background-color:var(--bgColor);
    height:clamp(400px,100%,100%);
}

h1,h3{
    font-family: "arcane",'Times New Roman', Times, serif;
    color: var(--titleColor);
    -webkit-text-stroke: 1px var(--titleStroke);
    margin: 0;  /* Remove default margin */
}

header{
    border:4px solid var(--borderColor);
    border-radius:5px;
    width:clamp(25%,75%,80%);
    text-align:center;
    height:clamp(400px,75%,80%);
}
h1 {
    font-size: clamp(8rem, 5vw, 7.5rem); 
}

h3 {
    font-size: clamp(3rem, 3vw, 5rem); 
}

label {
    font-size: clamp(2rem, 1.5vw, 2rem); 
    font-family: arcane, Arial, sans-serif;
    font-weight: bold;
    color: var(--titleColor);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:60%;
    border:1px solid white;
    height:clamp(100px,70%,70%);
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    border: 1px solid red;
}

input {
    width: 100%;
    border-radius: 5px;
    border: 2px solid var(--inputBorderColor);
    background-color: var(--inputBgColor);
    color: var(--inputTextColor);
    font-size: 1.6rem; /* Relative to the root element's font size */
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus {
    border-color: var(--inputFocusBorderColor);
    outline: none;
}

/* Change label color when input is focused */
.input-container:focus-within label {
    color:  var(--inputFocusBorderColor);
}