@import url('https://fonts.googleapis.com/css?family=Kay%20Pho%20Du:700|Kay%20Pho%20Du:400');
body {
  font-family: 'Kay Pho Du';
  font-weight: 400;
  box-sizing:border-box;
  margin:0px;
  padding:0px;
  display:flex;
  flex-direction:column;
  background-color: #050b0e;
  min-height: 100vh;
}

header{
    display:flex;
    justify-content:center;
    font-size: 48px;
    color:#edf3f5;
}


.content{
    display:flex;
    justify-content: center;   
    gap:100px;
    margin:30px;
}

.tools{
    display:flex;
    flex-direction:column;
    background-color: #202020;
    justify-content:space-between;
    margin:5px;
    padding:20px;
    width:200px;
}

.main-content{
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of grid elements */
    align-content: flex-start; 
    width: 500px;
    height: 500px;
    border: 10px solid #3C434A; 
    background-color: #edf3f5;
  
  }
  
  .grid-element {
    border: 0.5px solid #3C434A; 
    background-color: #edf3f5;
    box-sizing: border-box; 
  }
  

button{
    background-color: #0cbcfc;
    color:#050b0e;
    padding:10px 5px;
    border-radius:10px;
    border: none; 
    transition: all ease 0.2s; 
}

.btnColor{
  background-color:#107296;
}

#colorPicker{
    width: 200px;
    height: 50px;
    border-radius:5px;
}

.sizeTxt{
    display: flex;
    justify-content: center;
    color:#edf3f5;
    font-size:16px;
    font-weight:900;
}
.range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #edf3f5;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  }
  
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #107296;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  /* Mouse-over effects */
.range:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  .range::-webkit-slider-thumb:hover{
    transform:scale(1.3);
  }
  
  
 

button:hover{
    transform: translate(2px, -3px);
    box-shadow: 0 10px 20px #107296; 
}

footer{
    display: flex;
    margin-top: auto;
    justify-content: center;
    background-color:#107296;
    color:#edf3f5;
    font-size:20px;
    font-weight:900;
    padding:10px;
    
}


