@import url('https://fonts.googleapis.com/css?family=Kay%20Pho%20Du:700|Kay%20Pho%20Du:400');

body {
  font-family: 'Kay Pho Du';
  font-weight: 400;
  box-sizing:border-box;
  margin:0px;
  padding:0px;
  display:flex;
  flex-direction:column;
  background-color: #050b0e;
  min-height: 100vh;
}

header{
    display:flex;
    justify-content:center;
    font-size: 48px;
    color:#edf3f5;
}


.content{
    display:flex;
    justify-content: center;   
    gap:100px;
}

.tools{
    display:flex;
    flex-direction:column;
    background-color: #202020;
    justify-content:space-between;
    margin:5px;
    padding:20px;
    width:200px;
}

.main-content {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of grid elements */
    align-content: flex-start; /* Align rows to the top */
    width: 500px; /* Fixed container size */
    height: 500px;
    border: 10px solid #3C434A; /* Container border */
    background-color: #edf3f5;
   
  }
  
  .grid-element {
    border: 0.5px solid violet; /* Grid cell border */
    background-color: red; /* Default grid cell background */
    box-sizing: border-box; /* Include border in size calculations */
  }
  

button{
    background-color: #0cbcfc;
    color:#050b0e;
    padding:10px 5px;
    border-radius:10px;
    border: none; 
    transition: all ease 0.2s; 
}

button:hover{
    transform: translate(2px, -3px);
    box-shadow: 0 10px 20px #107296; 
}

footer{
    display: flex;
    margin-top: auto;
    justify-content: center;
    background-color:#107296;
    color:#edf3f5;
    font-size:20px;
    font-weight:900;
    padding:10px;
    
}


